.App {
  text-align: center;
}

div.pull-left {
  text-align: left;
}

div.margin-10 {
  margin-left: 10%;
  margin-right: 10%;
}

div.result {
  border: solid gray;
  padding: 10px;
}

div.create {
  border: solid green;
  padding: 10px;
}

div.detail {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 10%;
  padding-right: 10%;
}



div.home {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
div.home table {
  margin: 0 }